


@using PagedList.Mvc;
@using DoAnCN.Models;
@model  PagedList.PagedList<Nguoidung>

<link href=”~/Content/PagedList.css” rel=”stylesheet” type=”text/css” />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<p>
    @Html.ActionLink("Tạo mới người dùng", "Create")
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">NGƯỜI DÙNG</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã KH</th>
                        <th>Họ Tên</th>
                        <th>Tài Khoản</th>
                        <th>Mật Khẩu</th>
                        <th>Email</th>
                        <th>Địa Chỉ</th>
                        <th>Số Điện Thoại</th>
                        <th>...</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Mã KH</th>
                        <th>Họ Tên</th>
                        <th>Tài Khoản</th>
                        <th>Mật Khẩu</th>
                        <th>Email</th>
                        <th>Địa Chỉ</th>
                        <th>Số Điện Thoại</th>
                        <th>...</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.makh)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.hoten)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.taikhoan)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.matkhau)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.diachi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.sdt)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.makh }) |
                                @Html.ActionLink("Details", "Detail", new { id = item.makh }) |
                                @Ajax.ActionLink("Delete",
                                               "Delete",
                                               "NguoiDung",
                                               new { id = item.makh },
                                               new AjaxOptions {
                                                   HttpMethod = "POST",
                                                   Confirm = "Bạn có muốn xóa " + item.hoten,
                                                   OnSuccess = "RemoveRow"
                                               },
                                               new { @class = "pest_btn" })

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
            new PagedListRenderOptions
            {
                LiElementClasses = new string[] { "page-item paginate_button" },
                LinkToNextPageFormat = "<i class='fas fa-angle-right'></i>",
                LinkToLastPageFormat = "<i class='fad fa-angle-double-right'></i>",
                LinkToPreviousPageFormat = "<i class='fas fa-angle-left'></i>",
                LinkToFirstPageFormat = "<i class='fad fa-angle-double-left'></i>"
                //PageClasses = new string[] { "page-link" }
            }

   )

<script type="text/javascript">
    function RemoveRow() {
        var $tr = $(this).closest('tr');
        $tr.remove();
    }
</script>



